html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: overlay;
}

#content {
  width: 100%;
  height: 100%;
}

#words {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#code {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  tab-size: 20pt;
  background-color: #f0f0f0;
  border-left: 3pt solid #c0c0c0;
}

#code pre {
  padding: 0;
  margin-bottom: 0;
  border: none;
  background-color: #f0f0f0;

  font-size: smaller;
}

#code pre table, #code pre figure, #code pre td {
  padding: 0;
  border: none;
}

#code pre td.gutter {
  border-right: 1px solid #c0c0c0;
}

#words .panel, #code .panel {
  padding: 46pt 5pt 10pt;
}

#words .panel {
  padding-right: 8pt
}

button.copyCode {
  float: right;
  margin: 10pt 5pt;
}

code.since {
  float: right;
  margin: 5pt 0;
  font-size: small;
}

.highlight .lineno {
  padding-right: 2pt !important;
  min-width: 13pt;
}

.highlight .code {
  width: 100%
}

#tour-nav {
  z-index: 5;
  width: 50%;
  position: fixed;
  bottom: 0;

  text-align: center;
  background-color: white;
  padding: 2pt 0;
}

#tour-nav a {
  margin: auto;
  font-weight: bold;
}

/* mobile layout */
@media (max-width: 800px) {
#content {
  height: auto;
}

#words, #code {
  width: 100%;
  height: auto;

  position: relative;

  border-left: 0;
}

#words .panel, #code .panel {
  padding-top: 0;
}

#tour-nav {
  width: 100%;
}
}


/* fixing for the theme styles */
.site-header {
  z-index: 10;
  background-color: #fff;
}

