<!doctype HTML>
<html>
  <head>
    <title>{% if page.url != "/" %}{{ page.title }} | {% endif %}Fyne Tour</title>

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/css/home.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    {% include header.html %}

    <div id="content">
      <div id="words">
        <div class="panel">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
      <div id="code">
        <div class="panel">
          <h1>Example Code</h1>
          <pre>
            {%- highlight go linenos -%}
            {{- page.code -}}
            {%- endhighlight -%}
          </pre>
        </div>
      </div>
    </div>

    <footer id="tour-nav">
      <a href="#">&lt;</a>
      1/1
      <a href="#">&gt;</a>
    </footer>
  </body>
</html>
