<!doctype HTML>
<html>
  <head>
    <title>{% if page.url != "/" %}{{ page.title }} | {% endif %}Fyne Tour</title>

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/css/home.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% assign jsCode = page.code | newline_to_br | replace: '<br />', '\n\\' | replace: '"', '\"' %}
    <script language="JavaScript">
      function copyCode() {
        var textArea = document.createElement("textarea");
        textArea.value = "{{- jsCode -}}";
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();

      }
    </script>
  </head>

  <body>
    {% include header.html %}

    <div id="content">
      <div id="words">
        <div class="panel">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
      <div id="code">
        <div class="panel">
          <button class="copyCode" onclick="copyCode()">Copy Example</button>
          <h1>Example Code</h1>
          <pre id="sourceCode">
            {%- assign type = page.include | default: "go" -%}
            {% if type == "go" %}
            {%- highlight go linenos -%}
            {% assign gofile = page.path | replace:'.md','.go' %}
            {%- include {{ gofile }} -%}
            {%- endhighlight -%}
            {% else if type == "sh" %}
            {%- highlight sh linenos -%}
            {% assign gofile = page.path | replace:'.md','.sh' %}
            {%- include {{ gofile }} -%}
            {%- endhighlight -%}
            {% endif %}
          </pre>
        </div>
      </div>
    </div>

    {% assign url_parts = page.url | split: '/' %}
    {% assign base_url = url_parts[1] %}

    <footer id="tour-nav">

      {% assign count = 0 %}
      {% assign current = 0 %}
      {% assign pages = '' | split: '' %}

      {% assign sortedPages = site.pages | sort:"order" %}
      {% for node in sortedPages %}
        {% assign node_url_parts = node.url | split: '/' %}
        {% assign filename = node_url_parts | last %}
        {% if node_url_parts[1] == base_url and node.title != undefined %}

          {% assign pageUrl = node.url | split: 'fake' %}
          {% assign pages = pages | concat: pageUrl %}

          {% if node.url == page.url %}
          {% assign current = count %}
          {% endif %}
          {% assign count = count | plus:1 %}
        {% endif %}
      {% endfor %}

      {% assign currentPlus = current | plus:1 %}
      {% if current > 0 %}
        {% assign prev = current | minus:1 %}
        <a href="{{ pages[prev] }}">&lt;</a>
      {% else %}
        <span class="disabled">&lt;</span>
      {% endif %}

      {{ currentPlus }}/{{ count }}

      {% if currentPlus < count %}
        {% assign next = currentPlus %}
        <a href="{{ pages[next] }}">&gt;</a>
      {% else %}
        <span class="disabled">&gt;</span>
      {% endif %}
    </footer>
  </body>
</html>
